---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Projects from "../components/Projects.astro";
import Skills from "../components/Skills.astro";
import BlogPosts from "../components/BlogPosts.astro";
import Contact from "../components/Contact.astro";
---

<Layout>
    <main>
        <Hero
            name="Eric Brookfield"
            title="Engineering Director & Product Designer"
            location="Baltimore, MD, USA"
            imageUrl="/headshot.jpeg"
        />
        <Projects />
        <Skills />
        <BlogPosts />
        <Contact />
    </main>
</Layout>

<style>
    main {
        min-height: 100vh;
    }
</style>
